<div class="legislator">
    <div class="leg-image-container">
    </div>
    <div class="leg-details {{ legislator['id'] }}">
        <h1>{{ legislator['id']|rep_sen }} {{ legislator['name'] }}</h1>
        <div class="personal-details">
            <img data-src="img/{{ legislator.id }}.jpg"/>
            <p class="party">{{ legislator['party'] }}</p>
            <p class="home-city">{{ legislator['home_city'] }}</p>
            <p class="representing-district">{{ legislator['district_number']|format_district }}</p>
        </div>
        {% include '_legislator_committees.html' %}
        {% include '_legislator_income.html' %}
        {% include '_legislator_positions.html' %}
        {% include '_legislator_family.html' %}
        {% include '_legislator_bills.html' %}
    </div>

</div>
