<header>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="">{{ COPY.content.project_name|smarty }}</h1>
                <h2 class="subtitle">{{ COPY.content.project_subtitle|smarty }}</h2>
                <div class="story-meta">
                    <ul>
                      <li class="byline"><span>{{ COPY.content.byline }}</span></li>
                      <li class="date"><span>{{ COPY.content.pubdate }}</span></li>
                    </ul>
                </div>
                <div class="story-description">{{ COPY.content.project_description|smarty }}</div>
            </div>
        </div>
    </div>
</header>
