{% extends '_base.html' %}

{% block header_content %}
{% include '_maine_legislature_header.html' %}
{% endblock %}

{% block content %}

    <div class="house-selector">
      <ul>
        <li><a href="#senators-div" class="active">Senate</a></li>
        <li><a href="#house_reps-div">House</a></li>
      </ul>
    </div>
    {% for house in ['senators', 'house_reps'] %}
      <div id="{{ house }}-div" class="tab{% if house == 'senators' %} active{% endif %}">
        {% for legislator in COPY[house] %}
          {% if loop.index == 1 %}<div class="row">{% endif %}
              <div class="col-md-3 col col-xs-12 legislator {{ legislator.id|rep_sen|slugify }}">
                  <a href="legislator/{{ legislator.name|slugify }}">
                      <div class="legislator-img">
                        <img src="{{ S3_BASE_URL + '/assets/' + legislator.id + '.jpg' }}"/>
                      </div>
                      <span class="name">{{ legislator.id|rep_sen }} {{ legislator.name }}</span>
                      <span class="district">{{ legislator.district_number|format_district }}</span>
                      <span class="party">{{ legislator.party }}</span>
                      <span class="town">{{ legislator.home_city }}</span>
                  </a>
              </div>
           {% if loop.index is divisibleby 4 %}</div><div class="row">{% endif %}
           {% if loop.last %}</div>{% endif %}
        {% endfor %}
      </div>
    {% endfor %}
{% endblock %}

{% block extra_foot_js %}
  {{ JS.push('js/maine.js') }}
{% endblock extra_foot_js %}
