{% extends '_base.html' %}

{% block header_content %}
{% include '_maine_legislature_header.html' %}
{% endblock %}


{% block content %}
    {% for legislator in legislators %}
        <div class="legislator {{ legislator.id|rep_sen|slugify }}">
            <a href="legislator/{{ legislator.name|slugify }}">
                <img data-src="img/{{ legislator.id }}.jpg"/>
                <span class="name">{{ legislator.id|rep_sen }} {{ legislator.name }}</span>
                <span class="district">{{ legislator.district_number|format_district }}</span>
                <span class="party">{{ legislator.party }}</span>
                <span class="town">{{ legislator.home_city }}</span>
            </a>
        </div>
    {% endfor %}
{% endblock %}

{% block leftovers %}
<!--
<a class="comment-button comment-button-bubble comment-drawer-toggle" href="javascript:">
    <span class="comment-count"></span>
</a>

<a class="comment-button comment-button-article comment-drawer-toggle" data-toggle="modal" data-backdrop="static" data-target="#share-modal">
    <span class="comment-count"></span>
    <span class="comment-label">Share / Discuss</span>
</a>
-->

<h2 class="knockout-example">Example COPY list</h2>
<dl>
    {% for row in COPY.example_list %}
    <dt>{{ row.term }}</dt><dd>{{ row.definition }}</dd>
    {% endfor %}
</dl>
{% endblock %}


{% block wide_content %}
<div class="row">
    <div class="col-md-12">
        <h2 class="knockout-example">{{ COPY.content.about_title }}</h2>
        {{ COPY.content.about_text }}
    </div>
</div>
{% endblock %}
